

body{
    margin: 0;
}
#container{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: solid;
    position: relative;
}
.center{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 220px; left: 220px;
}
.hour{
    width: 160px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 242px; left: 276px;
}
.min{
    width: 190px;
    height: 16px;
    background-color: black;
    position: absolute;
    top: 244px; left: 276px;
}
.sec{
    width: 210px;
    height: 6px;
    background-color: red;
    position: absolute;
    top: 248px; left: 276px;
}